@media only screen and (max-width: 955px) {

}
@media only screen and (max-width: 1090px) {
  .navbar div {
    font-size: 0.7em;
    width: 7%;
    margin-left: 1%;
  }
  .s-s-m2dd{
    font-size: 1em;
  }
  
  .p13 {
    font-size: 0.9em;
  }
  .s-t-p div {
    font-size: 0.9em;
    padding: 20px 20px;
  }
  .s-t-h1 .s-t-p {
    padding-bottom: 5px;
    height: 40%;
  }

  .s-six-main .s-si-md {
    width: 40%;
    padding-bottom: 5%;
  }
  .s-se {
    padding-left: 30px;
  }

  .s-six-main {
    transform: translateX(-10%);
  }
  .s-six-main .se-s-imgm img {
    width: 120%;
    margin-left: 4%;
  }
  .s-six-main .se-s-imgm {
    width: 40%;
    margin-left: 10%;
    padding-bottom: 10px;
  }
  .s-six-main .se-s-heading {
    width: 114%;
    height: auto;
    padding-bottom: 5px;
  }

  .n-s-class {
    width: 40%;
  }
  .n-s-class input {
    width: 98%;
  }
  .n-s-class textarea {
    width: 98%;
  }
  .n-s-mclas .n-s-classb {
    width: 40%;
  }
  .f-s-circle {
    font-size: 1.3em;
    width: 20%;
    height: 15%;
    border: 1px solid red;
    color: red;
    font-style: bold;
  }
  .f-s-d {
    padding-bottom: 4%;
  }
  .s-s-sqares {
    width: 5%;
  }
}
@media only screen and (max-width: 1220px) {
  /* ////section////
/////start 2nd section/// */
  .navbar div {
    padding: 2% 2%;
    font-size: 0.8em;
  }
  .f-s {
    padding-left: 40px;
    height: auto;
    width: auto;
  }
  
  .s-s-sqares {
    width: 7%;
  }
  .s-s-m1d {
    padding-top: 30px;
    width: 60%;
    height: 90%;
  }
 

  /* //////third//// */
  .fi-s {
    margin-left: 30px;
  }
  .s-fi-img img {
    width: 100%;
  }
  .s-fi-img {
    width: 31.5%;
  }

  /* ///////////////////////////////////6th///////// */
  .s-si {
    margin-left: 30px;
  }
  .s-si-md {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    padding-top: 20px;
    padding-left: 10px;
    height: 320px;
    width: 430px;
  }
  .s-si-i {
    transform: translatey(-40px);
    margin-left: 20px;
  }
  /* //////////////////7th */
  .se-s {
    padding-left: 30px;
  }
  .se-s-imgm img {
    width: 470px;
  }
  .se-s-heading {
    width: 420px;
  }
  /* /////8th */
  .n-s-classb {
    width: 450px;
  }
  .n-s-mclas button {
    margin-top: 50px;
    padding: 10px 20px;
  }
}
